:root{
    /*
 Colors:
 BlackBerry Cream: #63264A
 Midnight Violet: #3D0B37
 Willow Green: #C0D684
 Tea Green: #CBEAA6
 Cream: #F3F9D2
*/
    --BlackBerry-Cream: #63264A;
    --Midnight-Violet: #3D0B37;
    --Willow-Green: #C0D684;
    --Tea-Green: #CBEAA6;
    --Cream: #F3F9D2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0 5rem;
    background-color: var(--Cream);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}