*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    padding: 5rem;
    max-width: 60rem;
    max-height: 60rem;
    border: 1px solid black;
    background-color: var(--Willow-Green);
}