
/*
 Colors:
 BlackBerry Cream: #63264A
 Midnight Violet: #3D0B37
 Willow Green: #C0D684
 Tea Green: #CBEAA6
 Cream: #F3F9D2
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card{
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 25rem;
    max-height: 100rem;
    margin-bottom: 3rem;
    background-color: #C0D684;
    padding: 1rem 1rem;
    justify-items: center;
    border-radius: 25px;
    margin-top: 3rem;

    color:#F3F9D2;

    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-image: linear-gradient(
            45deg,
            var(--Willow-Green) 33.33%,
            var(--Tea-Green) 33.33%,
            var(--Tea-Green) 50%,
            var(--Willow-Green) 50%,
            var(--Willow-Green) 83.33%,
            var(--Tea-Green) 83.33%,
            var(--Tea-Green) 100%
    );

    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-container{
    display: grid;
    height: 9rem;
    width: 9rem;
    background-color: #63264A;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    background-image: radial-gradient(
            circle at top,
            var(--Midnight-Violet) 0%,
            var(--BlackBerry-Cream) 60%,
            var(--Willow-Green) 100%
    );
}

.card-text-container{
    background-color: #3D0B37;
    max-width: 20rem;
    padding: 1rem 1rem;
    margin: 1rem 0;
    border-radius: 15px;

    background-image:
            repeating-radial-gradient(
                    circle at center,
                    rgba(255,255,255,0.06) 0 1px,
                    transparent 1px 4px
            ),
            linear-gradient(
                    135deg,
                    var(--BlackBerry-Cream),
                    var(--Midnight-Violet)
            );

    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.25);

}

.card-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.card-title-container {
    width: 17rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /* align content to left */
    color: var(--BlackBerry-Cream);
}

.card-title{
    font-weight: 600;
}

